{
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "extends": [
    "@pretty-cozy/eslint-config/base-ts",
    "@pretty-cozy/eslint-config/react",
    "@pretty-cozy/eslint-config/tailwind"
  ]
}