{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "extraFileExtensions": [".svelte"]
  },
  "extends": [
    "plugin:svelte/recommended",
    "plugin:svelte/prettier",
    "@pretty-cozy/eslint-config/base-ts"
  ],
  "rules": {
    "prettier/prettier": "off"
  },
  "overrides": [
    {
      "files": ["*.svelte"],
      "parser": "svelte-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser"
      }
    }
  ]
}
